* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
}
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.leaflet-container {
  height: 100%;
  width: 100%;
}
.cesium-viewer {
  height: 100%;
  width: 100%;
}
